@page "/SimonSays"

@using PSInzinerija1.Games.SimonSays

<PageTitle>@ruleGetter.gameName</PageTitle>

    <!-- <h2>@gameManager.ruleGetter.gameName</h2> -->

    <h2>High Score: @gameManager.HighScore</h2>
    <h2>Current Score: @gameManager.Level</h2>

<div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(3, 1fr); gap: 10px; width: 48vh; margin: 0 auto; height: 48vh; position: relative;">
    @foreach (var button in gameManager.Buttons)
    {
        var buttonClass = button.IsLit ? "buttonDefault pressed valid" : "buttonDefault";
        <button class="@buttonClass" @onclick="async () => await button.OnClick(StateHasChanged)">@button.Text</button>
    }
</div>
    <div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 3em;">
        <button   class="buttonDefault start" disabled = "@gameManager.IsDisabled" @onclick="@(async () => {@gameManager.IsDisabled=true; await gameManager.StartNewGame();})">New Game</button>
        
    </div>

@if(@ruleGetter.rules == null)
{}
else{
<h2>@ruleGetter.gameName Žaidimo taisyklės</h2>
<p>@ruleGetter.rules</p>
<h2>Žaidimo išleidimo data: @ruleGetter.releaseDate </h2>
}

